/* Definicion de los estilos del Título1 */
h1 {
    color:#485696;
    text-align:center;
    font-weight: bold;
}
/*------Definiciónes de los estilos de la tabla------*/
/*Caption de la tabla*/
 caption {
    color: #4F5D75;
    border: none;
    margin-bottom: 5px;
}

/*contorno exterior de la tabla*/
table {
    margin: auto;     /* Márgenes*/
    border-collapse: collapse;
    border: 1px black solid;
}


/*el estilo de cada línea*/
tr {
    margin: auto;
    border-collapse: collapse;
    border: 1px black solid;
}


/* capçaleres de la taula */

th {
    border-collapse: collapse; /*para que sólo salga 1 línea de contorno en la tabla*/
    border: 1px black solid;
    background-color:#2063D7;
    color: white;
    text-align: center;
    font-weight:bold;
}

/*contenido de la tabla*/
td {
    border-collapse: collapse;
    border: 1px black solid;
}

/*clase para la fecha de lanzamientos*/
.lanza {
    text-align: center;
}






